.box{
    /* border: 1px solid lightgrey; */
    display: block;
    width: 100%;
   
    text-align: center;
}
.container {
    font-size: 8vh;
    background-image: linear-gradient(skyblue,darkblue);
    display: inline-block;
    color: white;
    height: 14vh;
    width: 100%;
    text-align: right;
    border-radius: 10px 10px 0 0;
    z-index: 5;
  }
  .people{
      position: relative;
      width: auto;
      height:12vh;
      display: block;
      text-align: center;
    margin: 10px;
    border:1px solid rgb(202, 202, 202);
  }
  .people h1{
    float:left;
  }
  .people img{
      float:left;
      height: 100%;
      width:10vh;
  }