/* .home{
  border: 1px solid black;
  display: table;
  position:relative;
  width: 80%;
  margin: auto;
}

.home .chatlist {
  display: table-cell;
}

.home .chat{
  display: table-cell;
  width: 60%;
} 
 */
